<nav class="navbar navbar-light bg-light justify-content-end nav">
        <div class="nav-item active" style="margin-right: 10px;">
            <a class="nav-link" href="#/navbar/productos" (click)="nuevoProducto(content)" style="color: black;">
                <svg xmlns="http://www.w3.org/2000/svg"width="21" height="21" fill="currentColor" class="bi bi-plus" viewBox="0 0 15 18">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                AGREGAR
            </a>
        </div>
        <div class="nav-item active" style="margin-right: 10px;">
            <a class="nav-link" href="#/navbar/productos" (click)="logout()" style="color: black;">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 15 18">
                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                </svg>
                LOG OUT
            </a>
        </div>
</nav>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title2">Create product</h4>
        <button mat-flat-button class="mat-button btn-sm" aria-label="Close" (click)="modal.dismiss('Cross click')" >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formProduct" (ngSubmit)="crearProducto(formProduct.value)">
            <div class="form-group">
                <label for="name">Name</label>
                <div class="input-group">
                    <input id="name" formControlName="name" class="form-control" name="name">
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" type="submit">Save</button>
            </div>
        </form>
    </div>
</ng-template>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>

<main class="content">
    <router-outlet></router-outlet>
</main>